In [22]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt

In [23]:
Transaction_Info=pd.read_csv("C://Users/denis/OneDrive/Desktop/DS Task/data-new/transactions_obf.csv")
Reported_Frauds=pd.read_csv("C://Users/denis/OneDrive/Desktop/DS Task/data-new/labels_obf.csv")

In [24]:
for i in Reported_Frauds.eventId:
    if i in list(Transaction_Info.eventId):
        Transaction_Info.loc[Transaction_Info.eventId==i,'fraudLabel']=1

Transaction_Info.loc[Transaction_Info.fraudLabel!=1,'fraudLabel']=-1

In [28]:
Transaction_Info[Transaction_Info.transactionAmount<=0][['transactionTime','eventId','transactionAmount']].sort_values(by='transactionAmount')

             transactionTime      eventId  transactionAmount
116997  2018-01-26T07:28:44Z  103791735A1              -0.15
39618   2017-05-13T00:06:32Z   19836588A1              -0.14
75376   2017-09-02T13:42:14Z   69707765A1              -0.13
90334   2017-10-23T08:24:02Z   47545619A1              -0.12
36285   2017-05-02T01:23:04Z  103799127A1              -0.12
...                      ...          ...                ...
44053   2017-05-27T17:08:12Z   46651155A1               0.00
44048   2017-05-27T17:34:01Z   47560883A1               0.00
44045   2017-05-27T18:09:44Z   69981461A1               0.00
43731   2017-05-26T20:00:34Z   36655162A1               0.00
118579  2018-01-30T21:08:31Z   39516240A1               0.00

[1912 rows x 3 columns]

In [16]:
len(Transaction_Info[Transaction_Info.fraudLabel==-1])

117746

In [20]:
# len(Transaction_Info[Transaction_Info.posEntryMode==79])
# len(Transaction_Info[Transaction_Info.fraudLabel==1][Transaction_Info.merchantZip.isnull()])
# len(Transaction_Info[Transaction_Info.merchantZip=="..."])

C:\Users\denis\AppData\Local\Temp\ipykernel_9308\2874334577.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(Transaction_Info[Transaction_Info.fraudLabel==1][Transaction_Info.merchantZip.isnull()])

561